* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #4d203f;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 500;
}

main {
    background: #fff;
}

header {
    display: flex;   
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
    box-shadow: 1px  1px 10px  rgb(209, 99, 99);
    margin-bottom: 45px;
    background-color: #f5d3d3;
}

header ul {
    display: flex;
}

header ul li {
    padding: 1rem;
}

header ul li a{
    transition: 300ms;
}

header ul li a:hover{
    color: #e72a60;
}

.fotoPerfil{
    width: 7rem;
    border-radius: 5rem;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 2.5rem;
}

.container .name h5 {
    font-size: 1rem;
}

#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: #f5d3d3;
    border-radius: 5px 0px 0px 5px;
    background-color: #f5d3d3;
}

.form button {
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right, #e72a60 50%, #a33c5f 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    margin-top: 20px;
}

.form button:hover {
    background-position: left bottom;
    color: #fff;
}